<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <div class="row">
        <div class="col-6"><h1>Liste des Factures</h1></div>
        <div class="col-6" style="margin-top: 2px">
            <a class="btn btn-success" href="/factures/new">Ajouter un nouveau factures</a>
            <a class="btn btn-info" href="/factures/filter_reglee">Liste des factures règlees et non règlees</a>
            <a class="btn btn-second" href="/">Retoure</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">NB produits</th>
            <th scope="col">Montat total</th>
            <th scope="col">Client</th>
        </tr>
        </thead>
        <tbody>
        <!-- Itération sur la liste des clients -->
        <tr th:each="facture : ${factures}">
            <td th:text="${facture.date}"></td>
            <td th:text="${facture.produits.size()}"></td>
            <td th:text="${facture.montantTotal}"></td>
            <td th:text="${facture.client.nom}"></td>

            <td>
                <a class="btn btn-primary btn-sm" th:href="@{/factures/edit/{id}(id=${facture.id})}">Éditer</a>
                <a class="btn btn-danger btn-sm" th:href="@{/factures/delete/{id}(id=${facture.id})}">Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
